
.navbarContainer {
    max-width: 1528px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > div a{ font-size: 2rem; margin-right: 0.75rem}
.navbar > div a:hover{
    filter: brightness(0.9);
}
.title {
    color: var(--primary-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.button {
    width: 225px;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    background: var(--primary-color);
    border: 0;
    padding: 0 2rem;
    border-radius: 0.25rem;
    height: 3rem;
    transition: filter 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    filter: brightness(0.9);
}