.containerSearch {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.themeTitle {
   font-size: 1.7rem;
}

.filters{
    display: flex;
    width: 100%;
    gap: 3rem;
    justify-content: center;
    max-width: 1400px;
}

.themeInput {
    width: 20rem;
    height: 2.7rem;
    border-radius: .4rem;
    padding: .4rem;
    background: var(--details-color);
    border: 1px solid #2b2631;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color);
}

@media (max-width: 600px) {
    .containerSearch {
        text-align: center;
    }

    .filters{
        margin-top: 2rem;
        flex-direction: column;
    }

    .themeTitle {
        font-size: 1.4rem;
     }

     .themeInput{
        width: 24rem;
     }
}
