.principalContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: 2rem auto 0 auto;
}

.filtersContainer{
    width: 20%;
}

.contentContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.fieldContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}
.conferencesContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 1rem;
    justify-items: center;

}
.conferenceCard {
  width: 275px;
  height: 257px;
  background-color: var(--details-color);
}


@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  
}
