.principalContainer{
    display: flex;
    justify-content: center;
    max-width: 1128px;
    margin: 2rem auto 0 auto;
}
.filtersContainer{
    width: 20%;
}

.contentContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.fieldContainer{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.conferencesContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.25rem;

}
.conferenceCard {
  height: 250px;
  background-color: var(--details-color);
  position: relative;
}


@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  
}
