.principalContainer{
    display: flex;
    justify-content: center;
    max-width: 1128px;
    margin: 3rem auto 0 auto;
}
.filtersContainer{
    padding-top: 4.563rem;
    width: 20%;

}

.contentContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.fieldContainer{
    display: flex;
    gap: 1rem;
}
.conferencesContainer{
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.25rem;

}
.conferenceCard {
  height: 250px;
  background-color: var(--details-color);
  position: relative;
  border-radius: 6px;
}


@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
  
}
