
.navbarContainer {
    max-width: 1128px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > div a{ font-size: 2rem; padding-right: 0.75rem;}

.title {
    color: var(--primary-color);
    font-weight: 700px;
    font-size: 2.5rem;
}

.button {
    width: 225px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background: var(--primary-color);
    border: 0;
    padding: 0 2rem;
    border-radius: 0.25rem;
    height: 3rem;
    transition: filter 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    filter: brightness(0.9);
}