
.navbarContainer {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbar a{ font-size: 2rem; padding-left: 1rem}

.title {
    color: var(--primary-color);
    font-weight: 700px;
    font-size: 2.5rem;
}

.button {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background: var(--primary-color);
    border: 0;
    padding: 0 2rem;
    border-radius: 0.25rem;
    height: 3rem;
    transition: filter 0.2s;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.9);
}